In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
ps4_df = pd.read_csv("PS4_GamesSales.csv", encoding="latin1")
xbox_df = pd.read_csv("XboxOne_GameSales.csv", encoding="latin1")

In [25]:
ps4_df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80

In [26]:
xbox_df.head()

,Pos,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global
0,1,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72
1,2,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37
2,3,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23
3,4,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77
4,5,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43

In [29]:
ps4_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034 entries, 0 to 1033
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Game           1034 non-null   object
 1   Year           825 non-null    float64
 2   Genre          1034 non-null   object
 3   Publisher      825 non-null    object
 4   North America  1034 non-null   float64
 5   Europe         1034 non-null   float64
 6   Japan          1034 non-null   float64
 7   Rest of World  1034 non-null   float64
 8   Global         1034 non-null   float64
dtypes: float64(6), object(3)
memory usage: 72.8+ KB

In [28]:
xbox_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Pos            613 non-null    int64
 1   Game           613 non-null    object
 2   Year           505 non-null    float64
 3   Genre          613 non-null    object
 4   Publisher      505 non-null    object
 5   North America  613 non-null    float64
 6   Europe         613 non-null    float64
 7   Japan          613 non-null    float64
 8   Rest of World  613 non-null    float64
 9   Global         613 non-null    float64
dtypes: float64(6), int64(1), object(3)
memory usage: 48.0+ KB

In [30]:
xbox_df = xbox_df.drop(columns=["Pos"])

In [31]:
ps4_df["Platform"] = "PS4"
xbox_df["Platform"] = "Xbox One"

In [34]:
ps4_df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,6.06,9.71,0.60,3.02,19.39,PS4
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,6.18,6.05,0.41,2.44,15.09,PS4
2,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,5.26,6.21,0.21,2.26,13.94,PS4
3,Call of Duty: WWII,2017.0,Shooter,Activision,4.67,6.21,0.40,2.12,13.40,PS4
4,FIFA 18,2017.0,Sports,EA Sports,1.27,8.64,0.15,1.73,11.80,PS4

In [35]:
xbox_df.head()

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
0,Grand Theft Auto V,2014.0,Action,Rockstar Games,4.70,3.25,0.01,0.76,8.72,Xbox One
1,Call of Duty: Black Ops 3,2015.0,Shooter,Activision,4.63,2.04,0.02,0.68,7.37,Xbox One
2,Call of Duty: WWII,2017.0,Shooter,Activision,3.75,1.91,0.00,0.57,6.23,Xbox One
3,Red Dead Redemption 2,2018.0,Action-Adventure,Rockstar Games,3.76,1.47,0.00,0.54,5.77,Xbox One
4,MineCraft,2014.0,Misc,Microsoft Studios,3.23,1.71,0.00,0.49,5.43,Xbox One

In [36]:
ps4_df["Year"] = ps4_df["Year"].fillna(ps4_df["Year"].median())
xbox_df["Year"] = xbox_df["Year"].fillna(xbox_df["Year"].median())

ps4_df["Publisher"] = ps4_df["Publisher"].fillna("PS4")
xbox_df["Publisher"] = xbox_df["Publisher"].fillna("Xbox One")

In [37]:
ps4_df.isna().sum()

Game             0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Platform         0
dtype: int64

In [38]:
xbox_df.isna().sum()

Game             0
Year             0
Genre            0
Publisher        0
North America    0
Europe           0
Japan            0
Rest of World    0
Global           0
Platform         0
dtype: int64

In [39]:
ps4_df.isna().sum()[ps4_df.isna().sum() > 0]

Series([], dtype: int64)

In [40]:
xbox_df.isna().sum()[xbox_df.isna().sum() > 0]

Series([], dtype: int64)

In [41]:
ps4_df.duplicated().sum()

np.int64(0)

In [42]:
xbox_df.duplicated().sum()

np.int64(0)

In [43]:
ps4_df[ps4_df.duplicated(subset=["Game"], keep=False)]

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
717,War Thunder,2017.0,Action,DMM Games,0.0,0.0,0.0,0.0,0.0,PS4
775,Apotheon,2016.0,Platform,PS4,0.0,0.0,0.0,0.0,0.0,PS4
796,War Thunder,2016.0,Misc,PS4,0.0,0.0,0.0,0.0,0.0,PS4
963,Apotheon,2016.0,Action,PS4,0.0,0.0,0.0,0.0,0.0,PS4
1024,Biomutant,2018.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0,PS4
1025,Biomutant,2019.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0,PS4

In [44]:
xbox_df[xbox_df.duplicated(subset=["Game"], keep=False)]

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
608,Biomutant,2018.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0,Xbox One
609,Biomutant,2019.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0,Xbox One

In [45]:
xbox_df.duplicated().sum()
# Output: 0

np.int64(0)

In [46]:
xbox_df[xbox_df.duplicated(subset=["Game"], keep=False)]

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
608,Biomutant,2018.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0,Xbox One
609,Biomutant,2019.0,Action,THQ Nordic,0.0,0.0,0.0,0.0,0.0,Xbox One

In [48]:
ps4_df.duplicated().sum()

np.int64(0)

In [49]:
ps4_df[ps4_df.duplicated(subset=["Game", "Year"], keep=False)]

,Game,Year,Genre,Publisher,North America,Europe,Japan,Rest of World,Global,Platform
775,Apotheon,2016.0,Platform,PS4,0.0,0.0,0.0,0.0,0.0,PS4
963,Apotheon,2016.0,Action,PS4,0.0,0.0,0.0,0.0,0.0,PS4

In [50]:
xbox_df[xbox_df.duplicated(subset=["Game", "Year"], keep=False)]

Empty DataFrame
Columns: [Game, Year, Genre, Publisher, North America, Europe, Japan, Rest of World, Global, Platform]
Index: []

In [51]:
ps4_df = ps4_df.drop_duplicates(subset=["Game", "Year"], keep="first")

In [52]:
ps4_df.duplicated(subset=["Game", "Year"]).sum()

np.int64(0)

In [53]:
print(ps4_df.shape)
print(xbox_df.shape)

(1033, 10)
(613, 10)

In [54]:
ps4_df = ps4_df.drop(columns=["Platform"])
xbox_df = xbox_df.drop(columns=["Platform"])

In [55]:
ps4_df.columns

Index(['Game', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global'],
      dtype='object')

In [56]:
xbox_df.columns

Index(['Game', 'Year', 'Genre', 'Publisher', 'North America', 'Europe',
       'Japan', 'Rest of World', 'Global'],
      dtype='object')

In [57]:
print(ps4_df.shape)
print(xbox_df.shape)

(1033, 9)
(613, 9)

In [58]:
ps4_df.to_csv("PS4.csv", index=False)
xbox_df.to_csv("XboxOne.csv", index=False)